.searchBar {
    content: 'icon';
    width: 568px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #121212;
    border-radius: 8px;
    padding: 10px;
    text-align: center;

}

.searchButton {
    border: 1px solid #121212;
    border-radius: 8px;
    height: 100%;
    display: flex;
    background-color: antiquewhite;
}