.button {
    background-color: var(--color-black);
    color: var(--color-primary);
    width: 170px;
    height: 47px;
    border: 1px solid var(--color-primary);
    border-radius: 12px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}